* {
  font-family: Avenir Book;
  color: #325a27;
}

a {
  color: white;
}

h1 {
  color: white;
  font-style: bold;
  -webkit-text-stroke: 1px green;
}

div.col-12 p {
  font-weight: 200;
  color: green;
}

.navflex {
  display: flex;
  align-items: center;
}
.dropdownflex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.hidden-section {
  display: none;
}
.hidden-section.reveal {
  display: block;
}
